.box-shadow {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.52) !important
  }

#logo {
  width: 120px;
  margin-right: 0px;
  margin-left: 3%;
}

#ratemykebs {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin-left: 5px;
  padding-left: 0px;
  color: #ffa50f;
}

#header {
  background-color: #a34441 !important;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  z-index: 10 !important;
}

#navbarRight {
  margin-left: 10%;
}

#loginButton {
  font-family: 'Lobster', cursive;
  color: #ffa50f;
  font-size: 25px;
  /* margin-top: -7px; */
  cursor: pointer;
  margin-right: 5px
}

#logoutButton {
  font-family: 'Lobster', cursive;
  color: #ffa50f;
  font-size: 25px;
  margin-top: -7px;
  cursor: pointer;
  margin-right: 5px
}
.username-text::first-letter{
  text-transform: uppercase; 
}
.username-text {
  display: inline-block;
  font-family: 'Lobster', cursive;
  color: #ffa50f;
  font-size: 25px;
  margin-right: 15px;
}
