agm-map {
  height: 85vh;
}

#map {
  display: block;
  margin-top: 5px;
  border-style: solid;
  border-color: #A34441;
}

#background {
  background-color: #f0e5b7;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

#placeItem {
  padding-bottom: 4px;
}


.parent-container {
  position: relative;
}

.server-available {
  position: absolute;
  max-width: 20px;
  right: 20px;
  top: 20px;
}

.place-list {
  max-height: 85vh;
  overflow-y: scroll;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #972407;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.2s linear infinite;
  position: absolute;
  left: 45%;
  top: 40%;
  z-index: 5;
}
.dimm {
  position: absolute;
  height: 95%;
  width: 98%;
  background:rgba(0, 0, 0, 0.384);
  z-index: 3;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.search-button {
  margin-top: 5px;
}
.infoTemplate {
  font-size: 8px !important;
}
