<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div>
  <button class="btn btn-success" (click)=home()>To Home</button>
</div>
<div class="col-xs-10 col-xs-offset-1" id="map">
  Lat: {{lat}} Lng: {{lng}} radius: {{radius}}
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [(latitude)]="lat" [(longitude)]="lng" [markerDraggable]=true (dragEnd)= "onDrag($event)"></agm-marker>
    <agm-circle [(latitude)]="lat" [(longitude)]="lng" [(radius)]="radius" (dragEnd)= "onDrag($event)" [fillColor]="'lime'" [circleDraggable]="true"
      [editable]="true" [fillOpacity]="0.3">
    </agm-circle>
  </agm-map>
</div>