agm-map {
  height: 87vh;
}

#map {
  display: block;
  margin-top: 5px;
  border-style: solid;
  border-color: #A34441;
}

#background {
  background-color: #f0e5b7;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

.list-group {
  padding-bottom: 4px !important;
}

.parent-container {
  position: relative;
}

mat-card.place-list {
  padding: 10px;
}

.place-list {
  position: absolute;
  max-height: 60vh;
  overflow-y: auto;
  top: 240px;
  right: 30px;
  width: 320px;
  max-width: 350px;
}

.place-list-item {
  max-width: 340px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #972407;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.2s linear infinite;
  position: absolute;
  left: 45%;
  top: 40%;
  z-index: 15;
}

.dimm {
  position: absolute;
  height: 87vh;
  width: 97.5%;
  background: rgba(0, 0, 0, 0.384);
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-button {
  margin-top: 10px;
}

.infoTemplate {
  font-size: 8px !important;
}

.help {
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  margin-top: 10px;
}

.help .material-icons {
  color: #A34441;
  cursor: pointer;
}

:hover.help span {
  transform: scale(1.2, 1.2);
}

.material-icons.md-48 {
  font-size: 48px;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: #A34441;
}

.search-food {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 30px;
  min-width: 320px;
  max-width: 350px;
}
