agm-map {
  height: 85vh;
}

#map {
  min-height: 85vh !important;
  min-width: 90vw !important;
  margin-top: 5px;
}

.parent-container {
  position: relative;
}

.server-available {
  position: absolute;
  max-width: 20px;
  right: 20px;
  top: 20px;
}
