<div class="login-container">
<div class="container">
      <div class="mx-auto col-md-4 card login-panel box-shadow">
        <form (ngSubmit)="submit()" #loginForm="ngForm">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="model.username" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password" [(ngModel)]="model.password" name="password">
          </div>
          <input type="submit" class="btn btn-info btn-block" value="Login">
        </form>
    </div>
  </div>
</div>
