.details-panel {
  /* padding: 20px; */
  background-color: white;
  z-index: 2;
  position: absolute;
  left: 5%;
  top: 5vh;
  width: 520px;
  min-height: 300px;
}

.close-button:focus {
  outline: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  color: #972407;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: rgb(252, 164, 0);
  background-image: linear-gradient(to right, rgb(255, 242, 182), #942105, rgb(255, 242, 182));
}

hr.style-two {
  border: 0;
  height: 1px;
  background: rgb(42, 177, 0);
  background-image: linear-gradient(to right, rgb(255, 242, 182), #32d600, rgb(255, 242, 182));
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #972407;
  ;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  position: absolute;
  left: 40%;
  top: 35%;
  z-index: 8;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.opinion-button {
  margin-top: 30px;
}

.options {
  width: 22px;
  margin: 8px;
}

.options:hover {
  width: 25px;
  cursor: pointer;
}

.likes {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
  color: #00c41a;
}

.dislikes {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 5px;
  color: #c40e1c;
}

#barname {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #ffa50f;
  text-decoration: underline;
}

#norating {
  font-family: 'Oxygen', sans-serif;
  font-size: 27px;
  color: #c40e1c;
}

#card {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.card-content {
  margin-top: 50px;
}

.foodtype {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  color: #ffa50f;
}

.foodtype-blue {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  color: #4b3e9e;
}

.foodtype-red {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  color: #9e2547;
}

.food-type-paragraph {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: #9e2547;
}

.foodbadge {
  font-family: 'Lobster';
  font-size: 20px;
  color: white;
  background-color: #ffa50f;
  height: 32px;
}

.authentication-info {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: #34b90c;
}

.containter-food-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between !important;
}

.food-button-add {
  top: -8px;
}

.food-title {
  margin-bottom: 10px;
}

.container-food {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between !important;
  margin-bottom: 10px;
}

.containter-rating-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between !important;
}

.rating-button-add {
  top: -8px;
}

.iconblue {
  color: #4b3e9e;
}

.iconred {
  color: #9e2547;
}

.container-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between !important;
}

.rating-item {
  padding: 5px;
}

.rating-block {
  margin-top: 20px;
}

.rating-title {
  display: inline-block;
  font-family: 'Lobster', cursive !important;
  font-size: 24px !important;
  color: #4b3e9e;
}

.rating-text {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: #ffa50f;
}

.rating-text::first-letter {
  text-transform: uppercase;
}

.nok {
  right: 5px;
}

.button-add-food-type {
  margin-left: 10px;
  font-family: 'Lobster', cursive;
  font-size: 16px;
  color: #ffffff;
}

#paraghraph-missing {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: #ffa50f;
}

#button-add-food {
  color: #ffa50f;
}

#button-add-ingredient {
  color: #ffa50f;
}

.new-rating-thumb {
  margin-left: 15px;
}

.custom-select {
  margin-left: 10px;
  margin-right: 10px;
}

.iconorange {
  color: #ffa50f !important;
}

.mat-36 {
  font-size: 36px;
}

.button-no-outline {
  outline: none !important;
  /* right: 5px; */
}
