<div id="card" class="card box-shadow details-panel">
  <div class="loader" [hidden]="detailsData && detailsData !== null">
  </div>
  <div *ngIf="detailsData">
    <div class="card-header">
      <h4 class="text-center">
        <strong id="barname" class="details-name">{{ detailsData?.name }}</strong>
      </h4>
      <button type="button" class="close close-button" (click)="closeDetails($event)" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div>
        <p class="food-type-paragraph">Here you can taste following types of food:</p>
        <span *ngFor="let foodType of detailsData?.foodTypes" class="badge badge-warning food-type-bagde"> #{{ foodType.name }} </span>
      </div>
      <div>
        <hr class="separator">
      </div>
      <!-- <div *ngIf="detailsData.ingredientRatings.length == 0; else showRatingsBlock" class="text-center">
        <h5 id="norating">This restaurant has no ratings :( </h5>
        <p class="authentication-info" *ngIf="!isAuthenticated()">Please login or register to leave your opinion</p>
      </div> -->
      <div #showRatingsBlock>
        <p class="rating-title">Ingredient ratings: </p>
        <div>
          <div *ngFor="let rating of detailsData?.ingredientRatings; let i = index">
            <span class="rating-text">{{ rating.ingredient.name }}:
              <div class="rating-position">
                <a name="options" (click)="vote(rating.ingredient.id, true)">
                  <span class="likes">{{ rating.thumb.thumbsUp }}</span>
                  <img class="options" src="./assets/images/thumb-up-button.png"> </a>
                <a name="options" (click)="vote(rating.ingredient.id, false)">
                  <span class="dislikes">{{ rating.thumb.thumbsDown }}</span>
                  <img class="options" src="./assets/images/thumb-down-button.png"> </a>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div [hidden]="foodTypesLeft?.length ==0">
        <div>
          <hr class="separator">
        </div>
        <p id="paraghraph-missing-food">Missing food types?
          <button [hidden]="isAuthenticated()== false" class="btn btn-warning" id="button-add-food" (click)="showFoodTypeAddForm()">Click to add</button>
          <!-- TODO adding animation, button disabled if aleardy voted -->
          <span [hidden]="foodAddedLoading == false" class="food-add-loading"></span>
        </p>
        <div *ngIf="addingFoodType">
          <div>
            <span class="foodtype">Choose food type: </span>
            <select class="custom-select" [(ngModel)]="selectedValue">
              <option *ngFor="let food of foodTypesLeft; let i= index;" value={{i}}>{{ food.name }}</option>
            </select>
            <input id="button-add-food-type" [disabled]="selectedValue === undefined || selectedValue === null" type="button" class="btn btn-warning"
              value="Save" (click)="addFoodType()">
          </div>
        </div>
      </div>
      <div>
        <hr class="separator">
      </div>
      <div [hidden]="ingredientsLeft?.length ==0">
        <p id="paraghraph-missing-ingredient">Missing ingredients ratings?
          <button [hidden]="isAuthenticated()== false" class="btn btn-warning" id="button-add-ingredient" (click)="showIngredientAddForm()">Click to add</button>
          <!-- TODO adding animation, button disabled if aleardy voted -->
          <span [hidden]="ingredientAddedLoading == false" class="ingredient-add-loading"></span>
        </p>
        <div id="ingredient-form" *ngIf="addingIngredient">
          <span class="foodtype">Choose ingredient: </span>
          <select class="custom-select" [(ngModel)]="selectedValueNewRating">
            <option *ngFor="let ing of ingredientsLeft" value="ing.id">{{ ing.name }}</option>
          </select>
          <span class="food-type-paragraph">vote: </span>
          <div class="btn-group" data-toggle="buttons">
            <label>
              <a name="options" (click)="newRating(true)">
                <img class="options" src="./assets/images/thumb-up-button.png"> </a>
            </label>
            <label>
              <a name="options" class="new-rating-thumb" (click)="newRating(false)">
                <img class="options" src="./assets/images/thumb-down-button.png"> </a>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="isAuthenticated()== false" class="text-center">
        <p class="authentication-info">Login or register to add them</p>
      </div>
    </div>
  </div>
