<mat-card id="card" class="details-panel">
  <div class="loader" [hidden]="placeDetailsData && placeDetailsData !== null">
  </div>
  <div *ngIf="placeDetailsData">
    <mat-card-header class="text-center">
      <h4>
        <strong id="barname">{{ placeDetailsData?.name }}</strong>
      </h4>
      <button mat-icon-button class="close-button iconorange" (click)="closeDetails($event)">
        <mat-icon class="mat-18">close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="card-body card-content">
      <hr>
      <div class="containter-food-title">
        <h3 class="food-type-paragraph">Here you can taste following types of food:
          <hr class="style-one">
        </h3>
        <button mat-icon-button *ngIf="foodTypesLeft?.length >0" [hidden]="isAuthenticated()== false" class="button-no-outline food-button-add" (click)="showFoodTypeAddForm()">
          <mat-icon class="mat-24 iconred">add_circle_outline</mat-icon>
        </button>
    </div>
    <div class="container-food" *ngIf="addingFoodType">
        <span class="foodtype-red" style="flex-grow: 2;">Choose&nbsp;food&nbsp;type:&nbsp;</span>
        <select class="custom-select"  style="flex-grow: 3; min-width: 100px;" [(ngModel)]="selectedValue">
          <option *ngFor="let food of foodTypesLeft; let i= index;" value={{i}}>{{ food.name }}</option>
        </select>
        <button mat-button [disabled]="selectedValue === undefined || selectedValue === null" class="iconred button-no-outline"
          (click)="addFoodType()"  >
          <mat-icon class="iconred" style="flex-grow: 1;">done</mat-icon>
        </button>
        <button mat-button class="iconred button-no-outline" (click)="showFoodTypeAddForm()"  style="flex-grow: 1;">
          <mat-icon class="iconred">clear</mat-icon>
        </button>
      </div>
      <div>
        <mat-chip-list>
          <mat-chip color="accent" class="foodbadge" *ngFor="let foodType of placeDetailsData?.foodTypes">
            #{{ foodType.name }}
          </mat-chip>
        </mat-chip-list>
      </div>
      <br>
      <mat-progress-bar *ngIf="!foodAddedLoading" mode="query"></mat-progress-bar>
      <div class="rating-block" *ngIf="isAuthenticated() || placeDetailsData.ingredientRatings.length > 0 ">
        <hr>
        <div class="containter-rating-title">
          <h2 mat-subheader class="rating-title">Ingredient ratings:
            <hr class="style-one">
          </h2>
          <button mat-icon-button *ngIf="ingredientsLeft?.length >0" [hidden]="isAuthenticated()== false" class="button-no-outline rating-button-add" (click)="showIngredientAddForm()">
            <mat-icon class="mat-24 iconblue">add_circle_outline</mat-icon>
          </button>
        </div>
        <mat-progress-bar *ngIf="!ingredientAddedLoading" mode="query"></mat-progress-bar>
        <div class="container-rating" *ngIf="addingIngredient">
          <span class="foodtype-blue" style="flex-grow: 2;">Choose&nbsp;ingredient:</span>
          <select class="custom-select" style="flex-grow: 3; min-width: 100px;" [(ngModel)]="selectedValueNewRating">
            <option *ngFor="let ing of ingredientsLeft" value={{ing.id}}>{{ ing.name }}</option>
          </select>
          <button mat-button [disabled]="selectedValueNewRating === undefined || selectedValueNewRating === null" class="iconblu button-no-outline"
            (click)="newRating()" style="flex-grow: 1;">
            <mat-icon class="iconblue">done</mat-icon>
          </button>
          <button mat-button class="iconblu button-no-outline" (click)="showIngredientAddForm()" style="flex-grow: 1;">
            <mat-icon class="iconblue" >clear</mat-icon>
          </button>
        </div>
        <div *ngFor="let rating of placeDetailsData?.ingredientRatings; let i = index" class="container-rating">
          <span class="rating-text rating-item">{{ rating.ingredient.name }}:
          </span>
          <div class="rating-item">
            <span class="likes">{{ rating.thumb.thumbsUp }}</span>
            <a *ngIf="canVote(rating.ingredient.id) && isAuthenticated()" name="options" (click)="vote(rating.ingredient.id, true)">
              <img class="options" src="./assets/images/thumb-up-button.png"> </a>
            <span class="dislikes">{{ rating.thumb.thumbsDown }}</span>
            <a *ngIf="isAuthenticated() && canVote(rating.ingredient.id)" name="options" (click)="vote(rating.ingredient.id, false)">
              <img class="options" src="./assets/images/thumb-down-button.png"> </a>
          </div>
        </div>
      </div>
      <div *ngIf="isAuthenticated()== false" class="text-center">
        <hr class="style-two">
        <p class="authentication-info">Login or register to rate, add missing food or ingredient ratings.</p>
      </div>
    </mat-card-content>
  </div>
</mat-card>
