<div class="container">
    <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" class="col-md-4">
      <div class="form-group">
        <label for="lng">Longtitude:</label>
        <input type="text" class="form-control" id="lng"
               [(ngModel)]="model.lng" name="lng">
      </div>
      <div class="form-group">
        <label for="lat">Lattitude:</label>
        <input type="text" class="form-control" id="lat"
               [(ngModel)]="model.lat" name="lat">
      </div>
      <div class="form-group">
        <label for="radius">Radius:</label>
        <input type="text" class="form-control" id="radius"
               [(ngModel)]="model.radius" name="radius">
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <input type="text" class="form-control" id="type"
               [(ngModel)]="model.type" name="type">
      </div>
      <div>
        <input type="submit" class="btn" value="Find Places">
      </div>
    </form>
  <div>
    {{results}}
  </div>
  </div>
